.container1{
   padding-left: 20px;
   margin-top: 10px;
   /* gap: 10px; */
   align-items: center;
   justify-content: space-between;
   display: flex;
   border-radius: 10px;
   flex-direction: column;
   padding-top: 10px;
   background: #fff;
   padding-bottom: 10px;
   font-size: 18px;
   color:"#36454F";
}

h1{
    color: blueviolet;
}


